*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  height: 100vh;
  width: 100vw;
  gap: 15px;
  background-color: whitesmoke;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  
}
.container h1{
  font-size: 50px;
}
.increBtn{
  width: 40px;
  font-size: 35px;
  background-color: gray;
  color: black;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decreBtn{
  width: 40px;
  font-size: 35px;
  background-color: gray;
  color: black
  ;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container button:hover{
  cursor: pointer;
  width: 45px;
  height: 45px;

}